<?php

/** @var \Lovata\OrdersShopaholic\Models\Order $formModel */
/** @var \Lovata\OrdersShopaholic\Models\Order $obOrder */
if(!isset($obOrder) && isset($formModel)) {
    $obOrder = $formModel;
}
?>

<?php if ($obOrder->status->code == "new"  || $obOrder->status->code == "shipping" 
|| $obOrder->status->code == "in_progress" || $obOrder->status->code == "pending-cash"){ ?>



<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="btn btn-primary oc-icon-plus">Acciones</a>
    <ul class="dropdown-menu" role="menu" data-dropdown-title="Add something small">
        <?php if ($this->user->hasAccess("resend-order")){ ?>
        <li role="presentation">
            <a
                data-primary-button
                class="oc-icon-envelope-o"
                data-request="onSendPreOrder"
                data-stripe-load-indicator
                href="#">
                Reenviar correo de orden

            </a>
            
        </li>
        <?php } ?>

        <?php if (($this->user->hasAccess("set-order-for-shipping") && $obOrder->status->code == "shipping") ||
        ($this->user->hasAccess("set-order-for-shipping") && $obOrder->status->code == "pending-cash")){ ?>
       
        <li role="presentation">
            <a
                data-primary-button
                class="oc-icon-cart-arrow-down"
                data-request-data="reduce: false"
                data-request="onApproveOrder"
                data-stripe-load-indicator
                href="#">
                Pedido entregado a cliente
            </a>
        </li>
        <?php } ?>

        <?php if ($this->user->hasAccess("approve-order") && $obOrder->status->code == "in_progress" ){ ?>
            <li role="presentation">
                <a
                    data-primary-button
                    class="oc-icon-motorcycle"
                    data-request="onChangeForShipping"
                    data-stripe-load-indicator
                    href="#">
                    Aprobar Pago
                </a>
            </li>
        <?php } ?>
        
        <?php if ($obOrder->status->code != "canceled" ){ ?>
        
            <li role="presentation">
                <a data-toggle="modal" href="#content-confirmation-cancelation" class="oc-icon-ban">Cancelar Orden</a>
            </li>
        <?php } ?>
    </ul>
</div>

<?php } ?>

<div class="control-popup modal fade" id="content-confirmation-cancelation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="form-elements" role="form" data-request="onCancelOrder">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">¿Estás seguro que deseas CANCELAR esta orden?</h4>
            </div>
            <div class="modal-body">
                
                <div class="form-group checkbox-field span-full is-required">
                    <div class="checkbox custom-checkbox">
                        <input name="Order[reduce_inventory]" value="1" type="checkbox" id="checkbox_1">
                        <label for="checkbox_1">Volver a añadir existencia al inventario</label>
                        <p class="help-block">Reponer cada producto de esta orden devuelta al inventario</p>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-request="onCancelOrder">Aceptar</button>
            </div>
        </div>
        </div>
        
    </div>
</div>
