<?php   

use QchSoft\ShopPlus\Models\Settings;

/** @var \Lovata\OrdersShopaholic\Models\Order $formModel */
/** @var \Lovata\OrdersShopaholic\Models\Order $obOrder */
/** @var \Lovata\OrdersShopaholic\Classes\PromoMechanism\TotalPriceContainerLog $obPriceLogData */
if(!isset($obOrder) && isset($formModel)) {
    $obOrder = $formModel;
}



    $obPriceData = $formModel->total_price_data;


  //ESTOS SON LOS 3 TIPOS DE DESCUENTO Q ME PUEDEN LLEGAR
//position_total_price_data  <-- anterior
//shipping_price_data
//total_price_data

$arPriceLog = $obPriceData->log;

//var_dump($formModel->coupon[0]->coupon_group);

//var_dump($obOrder);

$url = Settings::get("public_order_url");
$ticket = Settings::get("ticket_url");
?>
<div class="container">
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Datos de la orden</strong> </p>
                <ul>
                    <li><strong>Status:</strong> <?php echo($model->status->name)   ?></li>
                    
                    <li><strong>Moneda:</strong> <?php echo($model->currency->name)   ?></li>
                    <?php if($model->payment_method != null){ ?>
                    <li><strong>Forma de Pago:</strong> <?php echo($model->payment_method->name)   ?> </li>
                    <?php } ?>
                    <li><strong>Tasa del día:</strong> <?php echo($model->getProperty("rate"));   ?></li>
                    <li><strong>Enlace público:</strong> 
                        <a  target="_blank" href="<?php  echo $url.''.$model->secret_key;?>">
                            <?php  echo $url.''.$model->secret_key;?>
                        </a>
                    </li>
                    <?php if($ticket != ""){ ?>
                        <li><strong>Ticket:</strong> 
                            <a  target="_blank" href="<?php  echo $ticket.''.$model->secret_key;?>">
                                <?php  echo $ticket.''.$model->secret_key;?>
                            </a>
                        </li>
                    <?php } ?>

                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p> <strong>Datos del Cliente</strong></p>
                <ul>
                    <li><strong>Nombre:</strong> <?php echo($model->getProperty("name"))?></li>
                    <li> <strong>Apellido:</strong> <?php echo($model->getProperty("last_name"))?></li>
                    <li><strong>Email:</strong> <?php echo($model->getProperty("email"))?></li>
                    <li><strong>Teléfono:</strong> <?php echo($model->getProperty("phone"))?></li>
                    <?php if($model->getProperty("contact_phone")){ ?>
                        <li><strong>Télefono de nacional:</strong> <?php echo($model->getProperty("contact_phone"))?></li>
                    <?php } ?>
                    
                    <?php if(isset($model->user->property["document"])){ ?>
                    <li><strong>Documento de identidad:</strong> <?php echo($model->user->property["document"])?></li>
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <?php if($model->shipping_type_id != 1){ ?>
                <p><strong>Dirección de delivery</strong></p>
                <ul>
                    <?php if($model->getProperty("shipping_state")!=""){ ?>
                        <li><strong>Estado:</strong> <?php echo($model->getProperty("shipping_state"))?></li>
                    <?php } ?>
                    <?php if($model->zone != null){ ?>
                        <li><strong>Zona:</strong> <?php echo($model->zone->name)?></li>
                    <?php } ?>
                    
                    <li><strong>Dirección:</strong> <?php echo($model->getProperty("shipping_address1"))?></li>
                    <li><strong>Horario de entrega:</strong> <?php echo($model->getProperty("shipping_time"))?></li>
                    <li><strong>Fecha de entrega:</strong> <?php echo($model->getProperty("shipping_date"))?></li>
                </ul>
                <?php }else{ ?>
                    <p><strong>Retiro</strong></p>
                    <ul>
                        <li><strong>Horario de retiro:</strong> <?php echo($model->getProperty("shipping_time"))?></li>
                        <li><strong>Fecha de entrega:</strong> <?php echo($model->getProperty("shipping_date"))?></li>
                    </ul>
                <?php } ?>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Comentarios del cliente</strong></p>
                <p><em><?php echo($model->getProperty("order_comments"))?></em></p>
            </div>
        </div>
    </div>
    <?php if (isset($formModel->coupon) && count($formModel->coupon)>0) {?>
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Descuentos</strong> </p>
                <div class="control-list">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><span>Precio Anterior</span></th>
                                <th><span>Valor de descuento</span></th>
                                <th><span>Total</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <?php echo($obPriceData->old_price); ?>
                                </td>
                                <td>
                                    <?php echo($obPriceData->increasePrice); ?>
                                </td>
                                <td>
                                    <?php echo($obPriceData->price); ?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Cupones</strong> </p>
                <div class="control-list">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><span>Codigo de cupón</span></th>
                                <th><span>Descripción</span></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($formModel->coupon as $coupon) {?>
                                
                            <tr>
                                <td>
                                    <?php echo($coupon->code); ?>
                                </td>
                                <td>
                                    <?php echo($coupon->coupon_group->name); ?>
                                </td>
                               
                            </tr>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <?php } ?>
    <?php if($arPriceLog){  ?>
    <!-- OLD -->
    <div class="row">
        <div class="callout fade in callout-success">
            <div class="content">
                <p><strong>Recargos y descuentos</strong> </p>
                <div class="control-list">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th><span>Descripción</span></th>
                           
                            <th><span>Valor del suplemento</span></th>
                            
                        </tr>
                        </thead>
                        <tbody>
                     
                          <?php foreach ($arPriceLog as $obPriceLogData) {?>
                            <?php $obMechanism = $obPriceLogData->mechanism ?>
                            <tr>
                                <td><?= $obMechanism->getRelatedDescription() ?></td>
                               
                                
                                <td>
                                    <span class="text-<?= $obMechanism->getIncreaseFlag() ? 'success' : 'danger'; ?>">
                                        <?php if (!empty($obMechanism)) {?>
                                        <strong>
                                            <?= $obMechanism->getIncreaseFlag() ? '+' : '-'; ?><?=  $obMechanism->getDiscountType() == \Lovata\OrdersShopaholic\Models\PromoMechanism::PERCENT_TYPE ? '%' : '' ?>
                                        </strong>
                                        <?php }?>
                                    </span>
                                    
                                    <span class="text-<?= $obMechanism->getIncreaseFlag() ? 'success' : 'danger'; ?>">
                                        <?php if ($obMechanism->getIncreaseFlag()) {?>
                                            <?php if ($obPriceLogData->increase_price_without_tax_value != $obPriceLogData->increase_price_with_tax_value) {?>
                                            <strong><?= $obPriceLogData->increase_price_without_tax ?></strong><br>
                                            <strong><?= $obPriceLogData->tax_increase_price ?></strong><br>
                                            <strong><?= $obPriceLogData->increase_price_with_tax ?></strong>
                                            <?php } else { ?>
                                            <strong><?= $obPriceLogData->increase_price ?></strong>
                                            <?php }  ?>
                                        <?php } else { ?>
                                            <?php if ($obPriceLogData->discount_price_without_tax_value != $obPriceLogData->discount_price_with_tax_value) {?>
                                            <strong><?= $obPriceLogData->discount_price_without_tax ?></strong><br>
                                            <strong><?= $obPriceLogData->tax_discount_price ?></strong><br>
                                            <strong><?= $obPriceLogData->discount_price_with_tax ?></strong>
                                            <?php } else { ?>
                                            <strong><?= $obPriceLogData->discount_price ?></strong>
                                            <?php }  ?>
                                        <?php } ?>
                                    </span>
                                </td>
                                
                            </tr>
                        <?php }?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <?php  } ?>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Descripción</th>
                <th scope="col">ID</th>
                <th scope="col">Unidades</th>
                <th scope="col">Precio por unidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>

                <?php foreach ($model->order_position as $value) {
                
                   echo ("
                   <tr>
                        <th scope='row'>".$value->offer->name."</th>
                        <td>".$value->offer->preview_text."</td>
                        <td>".$value->offer->external_id."</td>
                        <td>".$value->quantity."</td>
                        <td>".($value->price)."</td>
                        <td>".$value->total_price."</td>
                    </tr>
                   
                   ");
                }

                ?>
              <tr>
                <td colspan="6" class="text-right"><strong>Precio delivery:</strong> <?php echo ($model->shipping_price) ?> </td>
              </tr>
              <tr>
                
                  <td colspan="6" class="text-right"><strong>Total:</strong> <?php echo ($model->total_price) ?> </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        
                        <tr>
                          <td scope="row">Mozo que prepara la orden</td>
                          <td></td>
                          
                        </tr>
                        <tr>
                            <td width="50%">Repartidor/Vendedor que recibe o entrega
                                la orden
                            </td>
                            <td width="50%"></td>
                        </tr>
                        <tr>
                            <td width="50%">Cajero que factura
                            </td>
                            <td width="50%"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                          <td scope="row">Agente que envío la orden</td>
                          <?php
                            $agent = "";
                            $agents = $model->getManagerIdOptions();
                            if($model->manager_id != null && isset($agents[$model->manager_id])){
                                $agent = $agents[$model->manager_id];
                            }
                          ?>
                          <td width="50%"><?php echo($agent)?></td>
                          
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                          <td width="50%">Firma de cliente que recibe la orden</td>
                          <td></td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

    </div>
</div>