<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('lovata/shopaholic/offers/list') ?>">Inventory</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->importRender() ?>
</div>

<div class="form-buttons">
    <button
            type="submit"
            data-control="popup"
            data-handler="onImportLoadForm"
            data-keyboard="false"
            class="btn btn-primary">
        <?= trans('lovata.toolbox::lang.button.import_button') ?>
    </button>
</div>

<?= Form::close() ?>